{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Page Contents -->
<div class="pusher">
    {% include "header.html" %}
   <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">

            <!-- Recipe Section goes in here -->
            <div class="row">
                {% include "travel/travelpost_section.html" %}
            </div>

            <!-- Comment Section -->
            <div class="row">
                {% include "comments/comment_section.html" %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
