{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<!-- Following Menu -->
{% include "following_menu.html" %}
<!-- Sidebar Menu -->
{% include "sidebar_menu.html" %}


<!-- Page Contents -->
<div class="pusher">

  <!-- Header -->
  <div class="ui inverted vertical center aligned segment">
     {% include "header.html" %}
  </div>

    {% for recipe in recipes %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a></h1>
                    {% if recipe.vegan %}
                    <div class="extra">
                        <span data-tooltip="Vegan">
                        <!--<i class="lightning circular blue icon fitted"></i> -->
                            <img src="{% static 'icons/vegan.jpg' %}">
                        </span>
                    </div>

                {% endif %}
                    <h2> This is rated as: {{ recipe.health }}</h2>
                <p>{{ recipe.description|linebreaksbr }}</p>
                </div>
                <div class="six wide right floated column">
                    <img src="{{ recipe.main_photo.url }}"  class="ui large bordered rounded image">
                </div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}

  {% include "footer.html" %}

</div>

{% endblock %}


