{% extends 'base.html' %}

{% load staticfiles %}

{% load inline_images %}

{% block content %}

<!-- Following Menu -->
{% include "following_menu.html" %}
<!-- Sidebar Menu -->
{% include "sidebar_menu.html" %}


<!-- Page Contents -->
<div class="pusher">

  <!-- Header -->
  <div class="ui inverted vertical center aligned segment">
     {% include "header.html" %}
  </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                <h1><a>{{ recipe.title }}</a></h1>
                {% if recipe.vegan %}
                        <h2> Vegan </h2>
                {% endif %}
                    <h2> This is rated as: {{ recipe.health }}</h2>

                {{ recipe.instructions|safe }}

                </div>
                <div class="six wide right floated column">
            <img src="{{ recipe.main_photo.url }}"  class="ui large bordered rounded image">
            </div>

      </div>


    </div>


  {% include "footer.html" %}

</div>

{% endblock %}


