{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<!-- Following Menu -->
{% include "following_menu.html" %}
<!-- Sidebar Menu -->
{% include "sidebar_menu.html" %}


<!-- Page Contents -->
<div class="pusher">

  <!-- Header -->
  <div class="ui inverted vertical center aligned segment">
     {% include "header.html" %}
  </div>

    {% if food_posts %}

    {% for post in food_posts %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1><a href="{% url 'food_post' pk=post.pk %}">{{ post.recipe.title }}</a></h1>
                    <div class="extra">
                        {% if post.vegan %}
                        <span data-tooltip="Vegan">
                            <img src="{% static 'icons/vegan.jpg' %}">
                        </span>
                        {% endif %}
                        {% if post.healthy %}
                        <span data-tooltip="Healthy">
                            <img src="{% static 'icons/healthy.jpg' %}">
                        </span>
                        {% endif %}
                        {% if post.vegetarian %}
                         <span data-tooltip="Vegetarian">
                            <img src="{% static 'icons/vegetarian.jpg' %}">
                        </span>
                        {% endif %}
                        {% if post.gluten_free %}
                        <span data-tooltip="Gluten Free">
                            <img src="{% static 'icons/gluten_free.jpg' %}">
                        </span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <h2>Nothing matched!</h2>
    <p> We are a new and upcoming website and are trying to
        populate the database as fast as we can with entries.

        Please be patient and get back to us soon!
    </p>
    {% endif %}
</div>


{% include "footer.html" %}

{% endblock %}
