{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<!-- Following Menu -->
{% include "following_menu.html" %}
<!-- Sidebar Menu -->
{% include "sidebar_menu.html" %}


<!-- Page Contents -->
<div class="pusher">

  <!-- Header -->
  <div class="ui inverted vertical center aligned segment">
     {% include "header.html" %}
  </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a></h1>
                    <div class="extra">

                        {% if recipe.vegan %}
                        <img src="{% static 'icons/vegan.jpg' %}" data-content="Vegan">
                        {% endif %}
                        {% if recipe.healthy %}
                        <span data-tooltip="Healthy">
                            <img src="{% static 'icons/healthy.jpg' %}">
                        </span>
                        {% endif %}
                        {% if recipe.vegetarian %}
                         <span data-tooltip="Vegetarian">
                            <img src="{% static 'icons/vegetarian.jpg' %}">
                        </span>
                        {% endif %}
                        {% if recipe.gluten_free %}
                        <span data-tooltip="Gluten Free">
                            <img src="{% static 'icons/gluten_free.jpg' %}">
                        </span>
                        {% endif %}
                    </div>

                </div>
                <div class="six wide right floated column">
                    {% for image in recipe.image_set.all %}
                        {% if image.cover_photo %}
                            <img src="{{ image.image.url }}"  class="ui center large bordered rounded image">
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
            <div class="row">
                <div class="fourteen wide column">
                    {{ recipe.content|safe }}
                </div>
            </div>
        </div>
    </div>
</div>

  {% include "footer.html" %}


{% endblock %}