{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<!-- Following Menu -->
{% include "following_menu.html" %}
{% include "sidebar_menu.html" %}


<!-- Page Contents -->
<div class="pusher">
    <!-- Header -->
    <div class="ui inverted vertical center aligned segment">
        {% include "header.html" %}
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a></h1>
                    <h4>
                        Author: {{ recipe.author.first_name }} {{ recipe.author.last_name }} <br>

                        Date Created: {{ recipe.publish_date }}
                    </h4>

                    <table id="recipe-table" class="ui celled table" cellspacing="10">
                        <thead>
                            <tr>
                                <th>Ingredient</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ingredient in recipe.ingredient_set.all %}
                            <tr>
                                <td>{{ ingredient.ingredient_name }} </td>
                                <td> {{ ingredient.quantity }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p> Servings = {{ recipe.servings }}</p>
                    <p>Prep Time = {{ recipe.prep_time }}</p>

                    <p> Cook Time = {{ recipe.cook_time }}</p>

                     <p>Total Time = {{ recipe.total_time }}</p>

                    <div class="extra">
                        <h1> {{ recipe.summary|safe }} </h1>
                    </div>
                </div>
            </div>

            <div class="sixteen wide column">
                <h3 class="ui comments dividing header">Comments</h3>
                <div class="comment">
                    <p class="lead">Comments </p>
                    <form method="POST" action="."> {% csrf_token %}
                        {{ comment_form }}
                        <p> </p>
                        <button type="submit" class="ui submit button" value="Post Comment">Post Comment</button>
                    </form>
                </div>
                {% for comment in comments %}
                <blockquote>
                    <p>{{ comment.content }}</p>
                    <footer>
                        via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}
                        {{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}
                        <a class="comment-reply-btn" href="#">Reply</a>
                    </footer>
                    <div class="comment-reply" style="display:none">
                        {% for child_comment in comment.children %}
                        <blockquote>
                            <p>{{ child_comment.content }}</p>
                            <footer> via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
                        </blockquote>
                        {% endfor %}
                        <form method="POST" action="."> {% csrf_token %}
                            {{ comment_form }}
                            <p> </p>
                            <input type="hidden" name="parent_id" value='{{ comment.id }}'>
                            <button type="submit" class="ui submit button" value="Reply">Reply</button>
                        </form>
                    </div>
                </blockquote>
            </div>
        {% endfor %}
        </div>
    </div>
</div>


{% include "footer.html" %}

{% endblock %}