{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<!-- Following Menu -->
{% include "following_menu.html" %}
<!-- Sidebar Menu -->
{% include "sidebar_menu.html" %}



<!-- Page Contents -->
<div class="pusher">

  <!-- Header -->
  <div class="ui inverted vertical masthead center aligned segment">

  {% include "header.html" %}

    <div class="ui text container">
      <h1 class="ui inverted header">
        Those Dang Girls
      </h1>
      <h2> We Make some cool stuff</h2>
      <div class="ui huge primary button"> Explore our Food <i class="right arrow icon"></i></div>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Really like eating together</h3>
          <p>We have been eating together for a long time.
              Often that involves cooking together.
              We do both and are sharing it with you</p>
        </div>
        <div class="six wide right floated column">
        <img src="{% static 'media/index/those_gurls.jpg' %}"  class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check out our Blog</a>
        </div>
      </div>
    </div>
  </div>

  {% include "footer.html" %}

</div>

{% endblock %}
