{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Page Contents -->
{% include "sidebar_menu.html" %}
<div class="pusher">
    {% include "header.html" %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <!-- Main Content Goes here -->
            <div class="row">
                <div class="twelve wide column">
                    <h3 class="ui header">We Really like eating together</h3>
                    <p>We have been eating together for a long time.
                            Often that involves cooking together.
                            We do both and are sharing it with you
                    We have been eating together for a long time.
                            Often that involves cooking together.
                            We do both and are sharing it with you
                        </p>
                </div>
                <div class="two wide right column">
                    <div class="ui vertical menu">
                        <a class="active teal item">
                            Instagram
                        </a>
                        <div class="item">
                            <div class="ui transparent icon input">
                                <input type="text" placeholder="Search">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="twelve wide column">
                    <h3 class="ui header">We Really like eating together</h3>
                    <p>We have been eating together for a long time.
                            Often that involves cooking together.
                            We do both and are sharing it with you
                    We have been eating together for a long time.
                            Often that involves cooking together.
                            We do both and are sharing it with you
                        </p>
                        <img src="{% static 'media/index/those_gurls.jpg' %}"  class="ui large bordered rounded image">
                </div>
            </div>
        </div>
    </div>

{% include "footer.html" %}
</div>


{% endblock %}
