{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Page Contents -->
<div class="pusher">
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">We Really like eating together</h3>
                    <p>We have been eating together for a long time.
                        Often that involves cooking together.
                        We do both and are sharing it with you</p>
                </div>
                <div class="six wide right floated column">
                    <img src="{% static 'media/index/those_gurls.jpg' %}"  class="ui large bordered rounded image">
                </div>
            </div>

            <div class="row">
                <div class="center aligned column">
                    <a class="ui huge button">Check out our Blog</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
