
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
        <a class="active item" href="/" id="homebtn">Home</a>
        <a class="item" href="/blog" id="blogbtn"> Blog</a>
        <a class="item" href="/recipes" id="recipebtn">Recipes</a>
        <a class="item" href="/videos" id="videobtn">Videos</a>
        <a class="item">About Us</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>