{% load staticfiles %}
<!-- Main Header -->
<a href="/">
<img src="{% static 'icons/thosedanggirls.png' %}" height="300" width="100%">
</a>
<div class="ui inverted vertical center aligned segment">
    <div class="ui huge tiered menu">
        <div class="menu">
            <div class="ui simple item">
                <i class="icon home"></i>
                <a href="/"> Home </a>
            </div>
            <div class="ui simple dropdown item">
                <i class="icon food blue"></i>
                <a href="{% url 'foodpost_list' %}"> Food </a>
                <i class="icon dropdown"></i>
                <div class="dropdown vertical menu">
                    <a class="item" href="{% url 'foodpost_list' %}?filter=breakfast">Breakfast </a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=entree">Entree</a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=snack">Snack</a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=dessert">Desert</a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=foodprep">Food-Prep</a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=beverages">Beverages</a>
                    <div class="ui simple dropdown item">
                        More
                        <i class="icon dropdown"></i>
                        <div class="dropdown vertical menu">
                            <a class="item" href="{% url 'foodpost_list' %}?filter=vegan">Vegan</a>
                            <a class="item" href="{% url 'foodpost_list' %}?filter=glutenfree">Gluten-Free</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui simple dropdown item">
                <i class="icon lightning black"></i>
                <a href="{% url 'fitnesspost_list' %}"> Fitness </a>
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item">Blog</a>
                    <a class="item">Videos</a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                <!--<i class="icon female pink"></i> -->
                <a href="{% url 'beautypost_list' %}"> Beauty </a>
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item">Blog</a>
                    <a class="item">Videos</a>
                </div>
            </div>

            <div class="ui simple dropdown item">
                <i class="icon lightning"></i>
                <a href="{% url 'travelpost_list' %}"> Adventure </a>
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item">Blog</a>
                    <a class="item">Videos</a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                Social
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item" href="https://www.instagram.com/thosedanggirls/"><i class="instagram icon"></i>Instagram</a>
                    <a class="item" href="."><i class="facebook icon"></i>Facebook</a>
                    <a class="item" href="."><i class="youtube icon"></i>Youtube</a>
                </div>
            </div>

            <div class="ui simple item item">
                <div class="ui icon input">
                    <form action="/search/" style="margin: 10">
                        <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
                        <button id="search_submit" type="submit" >Submit</button>
                    </form>
                </div>
            </div>
            <div class="ui simple dropdown item">
                {% if user.username %}
                {{ user.username }}
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item" href="/logout/"><i class="edit icon"></i>Logout</a>
                </div>
                {% else %}
                Login
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item" href="/login/"><i class="edit icon"></i>Login</a>
                    <a class="item" href="/signup/"><i class="globe icon"></i>Signup</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

