{% load staticfiles %}
<!-- Main Header -->
<a href="/">
<img src="{% static 'icons/thosedanggirls.jpg' %}" height="200" width="100%">
</a>
<div class="ui inverted vertical center aligned segment">
    <div class="ui huge tiered menu">
        <div class="menu">
            <div class="ui simple item">
                <i class="icon home"></i>
                <a href="/"> Home </a>
            </div>
            <div class="ui simple dropdown item">
                <i class="icon food blue"></i>
                <a href="{% url 'foodpost_list' %}"> Food </a>
                <i class="icon dropdown"></i>
                <div class="dropdown vertical menu">
                    <a class="item" href="{% url 'foodpost_list' %}?filter=breakfast">Breakfast </a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=entree"><i class="edit icon"></i>Entree</a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=snack"><i class="edit icon"></i>Snack</a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=dessert"><i class="edit icon"></i>Desert</a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=foodprep"><i class="edit icon"></i>Food-Prep</a>
                    <a class="item" href="{% url 'foodpost_list' %}?filter=beverages"><i class="edit icon"></i>Beverages</a>
                    <div class="ui simple dropdown item">
                        More
                        <i class="icon dropdown"></i>
                        <div class="dropdown vertical menu">
                            <a class="item" href="{% url 'foodpost_list' %}?filter=vegan"><i class="edit icon"></i>Vegan</a>
                            <a class="item" href="{% url 'foodpost_list' %}?filter=glutenfree"><i class="edit icon"></i>Gluten-Free</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui simple dropdown item">
                <i class="icon lightning black"></i>
                <a href="{% url 'fitnesspost_list' %}"> Fitness </a>
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i>Blog</a>
                    <a class="item"><i class="video icon"></i>Videos</a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                <i class="icon female pink"></i>
                <a href="{% url 'beautypost_list' %}"> Beauty </a>
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item"><i class="video icon"></i>Videos</a>
                </div>
            </div>

            <div class="ui simple dropdown item">
                <i class="icon lightning"></i>
                <a href="{% url 'travelpost_list' %}"> Travel </a>
                <i class="icon dropdown"></i>
            </div>
            <div class="ui simple dropdown item">
                Social
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item" href="https://www.instagram.com/thosedanggirls/"><i class="instagram icon"></i>Instagram</a>
                    <a class="item" href="https://www.facebook.com/casey.alan.anderson"><i class="facebook icon"></i>Facebook</a>
                    <a class="item" href=https://www.youtube.com/channel/UChd9goWhGKhriO9CjRUSucw?view_as=subscriber><i class="youtube icon"></i>Youtube</a>
                </div>
            </div>

            <div class="ui simple item item">
                <div class="ui icon input">
                    <form action="/search/" style="margin: 10">
                        <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
                        <button id="search_submit" type="submit" >Submit</button>
                    </form>
                </div>
            </div>
            <div class="ui simple dropdown item">
                {% if user.username %}
                {{ user.username }}
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item" href="/logout/"><i class="edit icon"></i>Logout</a>
                </div>
                {% else %}
                Login
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item" href="/login/"><i class="edit icon"></i>Login</a>
                    <a class="item" href="/signup/"><i class="globe icon"></i>Signup</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

