<!--
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item" href="/" id="homebtn">Home</a>
        <a class="item" href="/blog" id="blogbtn"> Blog</a>
        <a class="item" href="/recipes" id="recipebtn">Recipes</a>
        <a class="item" href="/videos" id="videobtn">Videos</a>
        <a class="item">About Us</a>

        <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>

      </div>
    </div>
    -->

    <div class="ui tiered menu">
      <div class="menu">
          <div class="ui simple dropdown item">
              <i class="icon food blue"></i>
              Food
              <div class="menu">
                  <a class="item" href="/blog"><i class="edit icon"></i>Blog</a>
                  <a class="item" href="/recipes"><i class="food icon"></i>Recipes</a>
                  <a class="item" href="/recipes"><i class="video icon"></i>Videos</a>
            </div>
          </div>
          <div class="ui simple dropdown item">
              <i class="icon lightning black"></i>
              Fitness
              <div class="menu">
                  <a class="item"><i class="edit icon"></i>Blog</a>
                  <a class="item"><i class="video icon"></i>Videos</a>
                  <a class="item"><i class="settings icon"></i>Other Stuff</a>
            </div>
          </div>
          <div class="ui simple dropdown item">
              <i class="icon female pink"></i>
                Beauty
              <div class="menu">
                  <a class="item"><i class="edit icon"></i>Blog</a>
                  <a class="item"><i class="video icon"></i>Videos</a>
                  <a class="item"><i class="settings icon"></i>Tutorials</a>
            </div>
          </div>

          <div class="ui simple dropdown item">
            Check us Out!
              <i class="icon dropdown"></i>
              <div class="menu">
                  <a class="item" href="https://www.instagram.com/dangelosisters/"><i class="instagram icon"></i>Instagram</a>
                  <a class="item" href="https://www.facebook.com/casey.alan.anderson"><i class="facebook icon"></i>Facebook</a>
                  <a class="item" href=https://www.youtube.com/channel/UChd9goWhGKhriO9CjRUSucw?view_as=subscriber><i class="youtube icon"></i>Youtube</a>
            </div>
          </div>

          <div class="ui simple dropdown item">
            Login
              <i class="icon dropdown"></i>
              <div class="menu">
                  <a class="item"><i class="edit icon"></i>Social</a>
                  <a class="item"><i class="globe icon"></i>Recipes</a>
                  <a class="item"><i class="settings icon"></i>Videos</a>
            </div>
          </div>

        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search icon"></i>
            </div>
          </div>

        </div>
      </div>
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    <script>
    $('.ui.pointing.menu')
        .on('click', '.item', function() {
          if(!$(this).hasClass('dropdown')) {
            $(this)
              .addClass('active')
              .siblings('.item')
                .removeClass('active');
          }
        });

     </script>

    <script>
    $('.ui.dropdown')
    .dropdown();
</script>


    <!--

    <div class="winkwink-nudgenudge">
        <ul class="navigation menu" aria-label="Social Media Navigation">
            <li class="tier-1 last" aria-haspopup="true">
                <a href="#" class="action-trigger">Socialize</a>
                <ul class="subnav menu">
                    <li class="tier-2 element-1" role="treeitem"><a href="http://plus.google.com/+Python"><span aria-hidden="true" class="icon-google-plus"></span>Google+</a></li>
                    <li class="tier-2 element-2" role="treeitem"><a href="http://www.facebook.com/pythonlang?fref=ts"><span aria-hidden="true" class="icon-facebook"></span>Facebook</a></li>
                    <li class="tier-2 element-3" role="treeitem"><a href="http://twitter.com/ThePSF"><span aria-hidden="true" class="icon-twitter"></span>Twitter</a></li>
                    <li class="tier-2 element-4" role="treeitem"><a href="/community/irc/"><span aria-hidden="true" class="icon-freenode"></span>Chat on IRC</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="account-signin">
        <ul class="navigation menu" aria-label="Social Media Navigation">
            <li class="tier-1 last" aria-haspopup="true">
                <a href="/accounts/login/" title="Sign Up or Sign In to Python.org">Sign In</a>
                <ul class="subnav menu">
                    <li class="tier-2 element-1" role="treeitem"><a href="/accounts/signup/">Sign Up / Register</a></li>
                    <li class="tier-2 element-2" role="treeitem"><a href="/accounts/login/">Sign In</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div><!-- end options-bar -->


