{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load partition %}

<div class="pusher">
    {% include "header.html" %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">

                <!-- Most recent post -->
                <div class="twelve wide column center">
                    <h1 align="center" style=font-size:60px>
                        Newest Post
                    </h1>

                    {% if last_post.post_type == 'travel' %}
                    <a href="{% url 'travelpost_detail' pk=last_post.pk %}">
                    {% elif last_post.post_type == 'food' %}
                    <a href="{% url 'foodpost_detail' pk=last_post.pk %}">
                    {% elif last_post.post_type == 'beauty' %}
                    <a href="{% url 'beautypost_detail' pk=last_post.pk %}">
                    {% elif last_post.post_type == 'fitness' %}
                    <a href="{% url 'fitnesspost_detail' pk=last_post.pk %}">
                    {% else %}
                    <a href="." >
                    {% endif %}

                        <h1 align="center">
                            {{ last_post.title }}
                        </h1>
                    </a>

                    {% if last_post.cover_photo.url %}
                    {% if last_post.post_type == 'travel' %}
                    <a href="{% url 'travelpost_detail' pk=last_post.pk %}" >
                    {% elif last_post.post_type == 'food' %}
                    <a href="{% url 'foodpost_detail' pk=last_post.pk %}" >
                    {% elif last_post.post_type == 'beauty' %}
                    <a href="{% url 'beautypost_detail' pk=last_post.pk %}" >
                    {% elif last_post.post_type == 'fitness' %}
                    <a href="{% url 'fitnesspost_detail' pk=last_post.pk %}" >
                    {% else %}
                    <a href="." >
                    {% endif %}
                        <img class="ui centered medium image"
                         src="{{ last_post.cover_photo.url }}"
                         height="150%" width="200%" align="center">
                    </a>
                    {% else %}
                        <img align="center" src="{% static 'img/default_img.jpg' %}"
                     border=3 height=200 width=300>

                    {% endif %}
                    <h4 align="center">
                        Author: {{ last_post.author.first_name }} {{ last_post.author.last_name }} <br>
                        Date Created: {{ last_post.publish_date }}
                    </h4>
                    <p style="text-align:justify" align="center">
                        {{ last_post.summary|safe }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="twelve wide column">
                    <!-- Most recent post -->

                    <h1 align="center" style=font-size:60px>
                        Other Recent Posts!
                    </h1>
                    <table cellspacing="20" align="center">
                        {% for row in recent_posts|columns:2 %}
                        <tr>
                            {% for post in row %}
                            <td align="center">
                                {% if post.post_type == 'travel' %}
                                <a href="{% url 'travelpost_detail' pk=post.pk %}" >
                                {% elif post.post_type == 'food' %}
                                <a href="{% url 'foodpost_detail' pk=post.pk %}" >
                                {% elif post.post_type == 'beauty' %}
                                <a href="{% url 'beautypost_detail' pk=post.pk %}" >
                                {% elif post.post_type == 'fitness' %}
                                <a href="{% url 'fitnesspost_detail' pk=post.pk %}" >
                                {% else %}
                                <a href="." >
                                {% endif %}
                                </a>
                                    <h5 align="center">
                                        {{ post.title }}
                                    </h5>

                                {% if post.post_type == 'travel' %}
                                <a href="{% url 'travelpost_detail' pk=post.pk %}" >
                                {% elif post.post_type == 'food' %}
                                <a href="{% url 'foodpost_detail' pk=post.pk %}" >
                                {% elif post.post_type == 'beauty' %}
                                <a href="{% url 'beautypost_detail' pk=post.pk %}" >
                                {% elif post.post_type == 'fitness' %}
                                <a href="{% url 'fitnesspost_detail' pk=post.pk %}" >
                                {% else %}
                                <a href="." >
                                {% endif %}

                                {% if post.cover_photo.url %}
                                <img class="ui centered floated image" src="{{ post.cover_photo.url }}"
                                     border=3 height=200 width=300>
                                {% else %}
                                <img class="ui center floated image" src="{% static 'img/default_img.jpg' %}"
                                     border=3 height=200 width=300>
                                {% endif %}
                                </a>

                                <h6 align="center">
                                    Author: {{ post.author.first_name }} {{ post.author.last_name }} <br>
                                    Date Created: {{ post.publish_date }}
                                </h6>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}

{% endblock %}