{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


{% include "header.html" %}
<div class="pusher">
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="sixteen wide column center">

                    <h2 align="center">
                        {% if last_post.post_type == 'travel' %}
                        <a href="{% url 'travelpost_detail' pk=last_post.pk %}" >
                        {% elif last_post.post_type == 'food' %}
                        <a href="{% url 'foodpost_detail' pk=last_post.pk %}" >
                        {% elif last_post.post_type == 'beauty' %}
                        <a href="{% url 'beautypost_detail' pk=last_post.pk %}" >
                        {% elif last_post.post_type == 'fitness' %}
                        <a href="{% url 'fitnesspost_detail' pk=last_post.pk %}" >
                        {% else %}
                        <a href="." >
                        {% endif %}
                        {{ last_post.title }}
                        </a>
                    </h2>

                    {% if last_post.post_type == 'travel' %}
                    <a href="{% url 'travelpost_detail' pk=last_post.pk %}" >
                    {% elif last_post.post_type == 'food' %}
                    <a href="{% url 'foodpost_detail' pk=last_post.pk %}" >
                    {% elif last_post.post_type == 'beauty' %}
                    <a href="{% url 'beautypost_detail' pk=last_post.pk %}" >
                    {% elif last_post.post_type == 'fitness' %}
                    <a href="{% url 'fitnesspost_detail' pk=last_post.pk %}" >
                    {% else %}
                    <a href="." >
                    {% endif %}
                    {% if last_post.cover_photo.url %}
                        <img class="ui centered medium image"
                             src="{{ last_post.cover_photo.url }}"
                             height="75%" width="100%">
                    {% else %}
                    <img align="center" src="{% static 'img/default_img.jpg' %}"
                         border=3 height=200 width=300>
                    {% endif %}
                    </a>
                    <h4 align="center">
                        Author: {{ last_post.author.first_name }} {{ last_post.author.last_name }} <br>
                        Date Created: {{ last_post.publish_date }}
                    </h4>
                </div>
            </div>
            <div class="row">
                {{ last_post.summary|safe }}
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}

{% endblock %}