{% load staticfiles %}

<div class="two wide column">
    <!-- Add things here to go on the left side -->
</div>

<!-- This is the recipe-specific section -->
<div class="center twelve wide column">
    <h1 align="center" style=font-size:60px>
        Recipe Summary
    </h1>

    <h1 align="center" id="recipe">
        {{ recipe.title }}
    </h1>

    <h4 align="center">
        Author: {{ recipe.author.first_name }} {{ recipe.author.last_name }} <br>
        Date Created: {{ recipe.publish_date }}
    </h4>

    <img class="ui centered medium image" src="{{ recipe.cover_photo.url }}"
                         align="center">

    <table id="recipe-table" class="ui celled table" cellspacing="10" align="center">
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe.ingredient_set.all %}
            <tr>
                <td>{{ ingredient.ingredient_name }} </td>
                <td> {{ ingredient.quantity }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Servings = {{ recipe.servings }}</p>
    <p>Prep Time = {{ recipe.prep_time }}</p>
    <p>Cook Time = {{ recipe.cook_time }}</p>
    <p>Total Time = {{ recipe.total_time }}</p>
    <div class="extra">
        <h1> {{ recipe.summary|safe }} </h1>
    </div>
</div>

<div class="two wide column">
    <!-- Add things here to go on the left side -->
</div>